.container{
            background-color: rgb(70, 156, 202);
            width: 50vw;
            height: 40vh;

        }
        .box{
            background-color: rgb(205, 33, 24);
            width: 5vw;
            height: 4vh;
           /* transition-property: transform;
            transition-duration:3s ;
            transition-timing-function: ease-in-out;
            transition-delay: 1s;*/

            transition: all 3s ease-in-out 1s;

        }
        .translate{
            transform: translateX(10vw) translateY(10vh) scale(2);
            background-color: rgb(108, 228, 34);

        }