nav ul li{
            list-style: devanagari;
            
            background-color: rgb(214, 217, 46);
            list-style-position: inside;
            border: 2px solid rgb(24, 11, 11);
            list-style: disc inside;

 

        }