.box {
            width: 10vw;
            height: 20vw;
            border: 2px solid black;
            overflow: scroll;

            /*overflow: auto;
            overflow: x-hidden;
           overflow: y-scroll;*/
            
            /* white-space: nowrap;
              text-overflow:ellipsis*/


             /* overflow: auto hidden;*/
}