.box {
            width: 150px;
            height: 150px;
            background-color: rgb(159, 215, 215);
            border: 2px solid black;
            transform: rotate(0.125turn);
            /*transform: rotatex(30deg);
            transform: rotatey(30deg);
            transform: rotatez(30deg);

            transform: scalex(1.6);
            transform: scaley(1.6);

            transform: skewx(5deg);
            transform: skewy(5deg);

            transform: translatey(144%) skew(40deg) translatex(50%);*/

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 100vw;
            height: 80vh;
            border: 2px solid rgb(215, 50, 147)
        }