/* .box:first-child{
            background-cdolor: blue;

        }

       .box::first-line {
            color: chartreuse;
        }*/
        .boxes *{
            color: red;
            border: 2px solid black;
        }
       p,a,.box, [data-color="primary"]{
           /* margin-top: 60px;*/
           padding-top: 60px;
        }
        /*.box:nth-child(odd){
            background-color:rgb(173, 189, 30)
        }*/
        .box:nth-last-child(1){
            background-color:blue
        }
        .boxes::before{
            content: "dipak is good boy";
            color:rgb(205, 15, 226);
        }
        .boxes::after{
            content: "dipak is good boy";
            color:darkblue;
        }
        ::selection{
            color: yellow;
            background-color: rgb(14, 14, 14);
        }
        .box::first-letter{
            color:rgb(91, 58, 225);
            font-size: 40px;
        }
        input::placeholder{
            color: rgb(91, 116, 141);
        }
